.App {
  margin: auto;
}
.navbar {
  margin: 10px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  background-color: rgb(36, 37, 42);
}
.logo_ {
  color: aliceblue;
  font-weight: bolder;
  margin-top: 30px;
  font-size: 30px;
}
.logo {
  height: 50px;
}
img {
  width: 100px;
  height: 80px;
}
.Links {
  display: flex;
  margin: 20px;
  color: aliceblue;
  font-weight: bolder;
}
.link {
  margin: 20px;
}
.btnsize {
  color: white;
  background-color: rgb(65, 134, 163);
  border: 2px solid rgb(65, 134, 163);
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  font-weight: bolder;
}
